
/*	MAIN BODY */

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
	background-color:#111; 
	overflow-y:scroll;
} 

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #101010;
  text-align:center;
}

.container{
	width:1260px;
}

/* Navigation Bar */

.nav > li > a {
	padding-right:10px;
}


.unit-details {
	background-color:#2C2C2C;
	border-radius:8px;
	margin-top:5px;
	color:white;
	padding:5px;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}

/* Item Borders */

.rank-border-6 {
	border:3px solid #F70294;
	background-color:#222222;
}

.rank-border-6 {
	border:3px solid #BCA45A;
	background-color:#222222;	
}

.rank-border-5 {
	border:3px solid #AC081D;
	background-color:#222222;		
}

.rank-border-4 {
	border:3px solid #511983;
	background-color:#222222;	
} 

.rank-border-3 {
	border:3px solid #0D419B;
	background-color:#222222;	
}

.rank-border-2 {
	border:3px solid #369800;
	background-color:#222222;	
}

.rank-border-1 {
	border:3px solid #4B4B4B;
	background-color:#222222;	
}

.rank-border-pet {
	border:3px solid #41BCF5;
}

/*Trans Levels */

.icon-trans-1 {
	position:absolute;
	bottom: 20px;
	left: 6px;
}

.icon-trans-2 {
	position:absolute;
	bottom: 13px;
	left: 6px;
}

.icon-trans-3 {
	position:absolute;
	bottom: 6px;
	left: 6px;
}

/* Trans Plus Levels */

.icon-trans-plus-1 {
	position:absolute;
	bottom: 24px;
	right: 6px;
}

.icon-trans-plus-2 {
	position:absolute;
	bottom: 24px;
	right: 14px;
}

.icon-trans-plus-3 {
	position:absolute;
	bottom: 24px;
	right: 22px;
}

/*Unit Icons */

.unit-icon-container {
	position: relative; 
	display: inline;
}

.unit-icon-damage {
  position: absolute;
  bottom: -26px;
  right: 3px;
}

.unit-icon-immune {
	position:absolute;
	bottom: -21px;
	left: 6px;
}

/* Generic Images */

.contact-banners {
	border-radius:10px;
	height:100px;
	width:320px;
	border:1px solid #666666;
}

.icon-8 {
	width:8px;
	height:8px;
}

.icon-10 {
	width:10px;
	height:10px;
}

.icon-12 {
	width:12px;
	height:12px;
}

.icon-16 {
	width:16px;
	height:16px;
}

.icon-h4 {
	width:20px;
	height:20px;
}
.icon-25 { 
	width:25px;
	height:25px;
}

.icon-32 {
	width:32px;
	height:32px;
}

.icon-48 {
	width:48px;
	height:48px;
}
.icon-66 {
	width:66px;
	height:66px;
}

.icon-close {
	margin:-2px;
}
/* EF Text Colours */

.text-efyellow {
	color:#D1A12A;
}

.text-efgreen {
	color:#95C601;
}

.text-efblue {
	color:#30ACD6;	
}

.shpage {
	display:inline-block;
	float:left;
}

.shrow a {
	display:inline-block;
	float:left;
	width:40px;
	height:40px;
	margin:0;
	border-top:1px solid #888;
	border-left:1px solid #888;
	border-right:1px solid #888;
}

.shrow a:first-of-type {
	border-right:none;
}

.shpage div:last-of-type a {
	border-bottom:1px solid #888;
}
.petimage {
	margin:4px auto;
}

.shrow {
	clear:both;
	font-size:10px;
}

.shpage {
	margin-left:15px;
}

.shrow label {
	display:inline-block;
	width:39px;
	text-align:right;
}

.shrow input {
	margin-top:3px;
	margin-right:1px;
	margin-left:2px;
	width:39px;
}

button {
	color:#000;
	width:70px;
}

#petinputcontainer {
	margin-top:10px;	
	font-size:10px;
	color:#bbb;
}
#petinputcontainer:after {
	clear:both;
}
.petinput {
	margin-top:1px;
	margin-bottom:1px;
}
.petinputpage {
	display:inline-block;
	margin-left:6px;
	float:left;
}
.fragimage {
	display:inline-block;
	border:1px solid #555;
	width:40px;
	height:40px;
	margin:0;
}
.fragimage img {
	margin:4px;
}
.petinput input {
	width:38px;
	margin-left:1px;
	margin-right:10px;
}

input {
	background:#000;
	border:1px solid #555;
}
#farminglist {
	margin-left:6px;
	display:inline-block;
	float:left;
	padding:2px 10px 2px 10px;
}
