
/*	MAIN BODY */

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	background-color:#111; 
} 

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #101010;
  text-align:center;
}

.container{
	display:block;
	margin:0 auto;
}

/* Navigation Bar */

.nav > li > a {
	padding-right:10px;
}

/* Item Borders */

.rank-border-6 {
	border:3px solid #F70294;
	background-color:#222222;
}

.rank-border-6 {
	border:3px solid #BCA45A;
	background-color:#222222;	
}

.rank-border-5 {
	border:3px solid #AC081D;
	background-color:#222222;		
}

.rank-border-4 {
	border:3px solid #511983;
	background-color:#222222;	
} 

.rank-border-3 {
	border:3px solid #0D419B;
	background-color:#222222;	
}

.rank-border-2 {
	border:3px solid #369800;
	background-color:#222222;	
}

.rank-border-1 {
	border:3px solid #4B4B4B;
	background-color:#222222;	
}

.rank-border-pet {
	border:3px solid #41BCF5;
}

/*Trans Levels */

.icon-trans-1 {
	position:absolute;
	bottom: 20px;
	left: 6px;
}

.icon-trans-2 {
	position:absolute;
	bottom: 13px;
	left: 6px;
}

.icon-trans-3 {
	position:absolute;
	bottom: 6px;
	left: 6px;
}

/* Trans Plus Levels */

.icon-trans-plus-1 {
	position:absolute;
	bottom: 24px;
	right: 6px;
}

.icon-trans-plus-2 {
	position:absolute;
	bottom: 24px;
	right: 14px;
}

.icon-trans-plus-3 {
	position:absolute;
	bottom: 24px;
	right: 22px;
}

/*Unit Icons */

.unit-icon-container {
	position: relative; 
	display: inline;
}

.unit-icon-damage {
  position: absolute;
  bottom: -26px;
  right: 3px;
}

.unit-icon-immune {
	position:absolute;
	bottom: -21px;
	left: 6px;
}

/* Generic Images */

.contact-banners {
	border-radius:10px;
	height:100px;
	width:320px;
	border:1px solid #666666;
}

.icon-8 {
	width:8px;
	height:8px;
}

.icon-10 {
	width:10px;
	height:10px;
}

.icon-12 {
	width:12px;
	height:12px;
}

.icon-16 {
	width:16px;
	height:16px;
}

.icon-h4 {
	width:20px;
	height:20px;
}
.icon-25 { 
	width:25px;
	height:25px;
}

.icon-32 {
	width:32px;
	height:32px;
}

.icon-48 {
	width:48px;
	height:48px;
}
.icon-66 {
	width:66px;
	height:66px;
}

.icon-close {
	margin:-2px;
}
/* EF Text Colours */

.text-efyellow {
	color:#D1A12A;
}

.text-efgreen {
	color:#95C601;
}

.text-efblue {
	color:#30ACD6;	
}

.container {
	width:1290px;
	margin:auto;
}

#farminglist, #tierlist, #ownedfragments, #statinputs, #sh-pages {
	margin:4px;
	display:inline-block;
	padding:6px;
	background:#333;
	border:1px solid #555;
	font-size:10px;
	color:#bbb;
}

#petinputcontainer {
	margin-top:-5px;
}

#sh-pages {
	white-space:nowrap;
	overflow-x:auto;
	width:1138px;	
	height:345px;
}

@media (max-width: 1299px) {
  #sh-pages {
    height:360px;
		width:761px;
  }
  .container {
  	width: 920px;
  }
}

.sh-page {
	display:inline-block;
	margin-left:6px;
	margin-top:6px;
	vertical-align:top;
}
#sh-pages > div:last-of-type {
	margin-right:6px;
}
.shrow a {
	display:inline-block;
	float:left;
	width:40px;
	height:40px;
	margin:0;
	border-top:1px solid #888;
	border-left:1px solid #888;
	border-right:1px solid #888;
}

.shrow a:first-of-type {
	border-right:none;
}

.sh-page div:last-of-type a {
	border-bottom:1px solid #888;
}

.petimage {
	margin:4px auto;
	text-align:center;
}

.shrow {
	clear:both;
	font-size:10px;
}

button {
	color:#000;
	width:70px;
}

#petinputcontainer {
	font-size:10px;
	color:#bbb;
}

#petinputcontainer:after {
	clear:both;
}

.petinput {
	margin-top:-4px;
	margin-bottom:1px;
}

.petinputpage {
	display:inline-block;
	margin-left:6px;
	float:left;
}

#ownedfragments > div:first-of-type {
	margin-left:0px;
}

.fragimage {
	display:inline-block;
	border:1px solid #555;
	width:40px;
	height:40px;
	margin:0;
}

.fragimage img {
	margin:4px;
}

.petinput input {
	width:45px;
	margin-left:1px;
	padding-left:2px;
}

.petinput div {
	display:inline-block;
}

input {
	background:#000;
	border:1px solid #555;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#tierlist ol li.placeholder {
  position: relative;
  /** More li styles **/
}

#tierlist ol li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

ol.vertical {
  margin: 0;
  min-height: 10px; 
  padding:0;
}

ol.vertical li {
  display: block;
  margin: 1px;
  padding: 0px 1px 1px 1px;
  border: 1px solid #555;
  background: #2a2a2a;
  color: #ccc; 
  cursor:pointer;
}

ol.vertical li span {
	display:inline-block;
	padding:0;
	margin-top:2px;
}

ol.vertical li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none; 
}

ol.vertical li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -2px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: red;
  border-right: none; 
}

input[type="checkbox"] {
	margin:2px 1px 0px 2px;
	float:right;
	position:relative;
	top:1px;
}

ol.vertical li.inactive{
  border: 1px solid #444;
  background: #111;
  color: #777;
}

.fragimage {
	background-color:#222;
}

#tierlist {
	float:left;
}

#statinputs label {
	display:inline-block;
	width:39px;
	text-align:right;
}

#statinputs input {
	margin-top:3px;
	margin-right:1px;
	margin-left:2px;
	width:45px;
	padding-left:2px;
}

.petinput div {
	position:relative;
	top:9px;
}

#statinputs, #farminglist {
	display:block;
}

#subcontainer {
	display:inline-block;
	vertical-align:top;
	margin:0;
}
